@using YemekTarif.Models.sınıflar
@model List<Yemekler>

<div class="content-top">
    @foreach (var x in Model)
    {
    <div style="float:left;" class="col_1_of_5 span_1_of_5">
        <div class="hover_img">
            <a href="/Tarifler/TarifDetay/@x.ID"><img style="width:300px; height:200px;" src="@x.YemekResim" alt="" /></a>
</div>
    </div>

    }

    <div class="col_1_of_last span_1_of_5">
        <h3><span class="red">Bizim Yemeklerimiz</span><br><span class="black"> Yemekler</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
    </div>
    <div class="clear"></div>
</div>
