@model YemekTarif.Models.sınıflar.Hakkımızda
@{
    ViewBag.Title = "HakkımızdaGetir";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hakkımızda Getir</h2>


@using (Html.BeginForm("HakkımızdaGüncelle", "Admin", FormMethod.Post))
{


    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" ,@readonly="readonly"}) <br /> 
    @Html.TextAreaFor(x => x.yazi, new { @class = "form-control", style = "height:400px;" })
    <br />

    <button class="btn btn-warning">Hakkımızda Güncelle</button>
}
