

@using YemekTarif.Models.sınıflar
@model List<Yemekler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>

    <link href="/webyemek/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <style>

        .itemContainer {
            float: left;
            margin: 5px;
            padding: 5%;
            width: 70%;
            height: 500px;
            position: relative;
            margin: auto;
            border-radius: 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body>

    <div class="wrap">
        <div class="total">


            <div class="main">

                <div class="prod">
                    <div style="display: flex; flex-direction: column; justify-content: space-between; padding: 25px; margin-top: 10px; margin-bottom: 100px; margin-left: 10px; margin-right: 100px; height: auto;  ">
                        @foreach (var d in Model)
                        {
                            <div class="itemContainer">

                                <div class="view effect">
                                    <a href="\Tarifler\TarifDetay\@d.ID"> <img style="width:100%; height:490px; " src="@d.YemekResim" alt="" /> </a>
                                    <div class="mask"></div>

                                </div>
                                <a href="\Tarifler\TarifDetay\@d.ID">
                                    <b><h3 style="text-align:left; font-family:'Agency FB'; font-size:30px; float:left;">@d.Ad</h3></b>
                                    <b><h3 style="text-align:right; font-family:'Agency FB'; font-size:30px;">@d.Tıklanma kere görüntülendi</h3> </b>
                                </a>

                            </div>
                        }


                        <div style="clear:both;"></div>

                    </div>

                </div>
            </div>
        </div>

</body>
</html>


